/*animated button effect*/
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #FFCB05;
  background-color: #00274C;
  opacity: 0.8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #FFCB05;
}

button:hover {opacity: 1;}

button:active {
  background-color: #00274C;
  box-shadow: 0 5px #FFCB05;
  transform: translateY(4px);
}



.slider-container {
  height: 300px; /* Set the height of the container */
  display: flex;
  /* align-items: left; */
  justify-content: center;
  transform: rotate(-90deg); /* Rotate the container */
  margin-top: 100px;
  margin-left: -650px;
}

.slider {
  -webkit-appearance: none; /* Remove default styles */
  appearance: none;
  margin-right: 0px;
  width: 27%; /* Set the width */
  height: 50px; /* Set the height */
  background: #00274C; /* Slider background color */
  outline: none; /* Remove default focus styles */
  opacity: 0.8; /* Set transparency */
  -webkit-transition: .2s; /* Add animation on hover */
  transition: opacity .2s;
  transform: translateY(50%); /* Center the slider */
}

.slider:hover {
  opacity: 1; /* Change opacity on hover */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default thumb appearance */
  appearance: none;
  width: 90px; /* Set thumb width */
  height: 90px; /* Set thumb height */
  background: url('../images/Block_M-Hex.png') no-repeat center center; /* Thumb color */
  background-size: contain;
  cursor: pointer; /* Cursor on hover */
  transform: rotate(90deg);
}

.slider::-moz-range-thumb {
  width: 90px; /* Set thumb width for Firefox */
  height: 90px; /* Set thumb height for Firefox */
  background: url('../images/Block_M-Hex.png') no-repeat center center; /* Thumb color */
  background-size: contain;
  cursor: pointer; /* Cursor on hover for Firefox */
  transform: rotate(90deg);
}


h1 {
  font-size: 40px;
  /* font-family: 'IBM Plex Serif Condensed'; */
  text-align: right;
  margin-left: 65px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  /* font-family: ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
}

h2 {
  font-size: 20px;
  /* font-family: 'IBM Plex Serif Condensed'; */
  text-align: right;
  margin-left: 65px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  /* font-family: ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
}

body {
  background-color: rgb(165, 174, 188);
}

.pitch-container {
  margin-left: 700px;
  margin-top: -200px;
}























#upper-left-link {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999; /*puts at top layer of page*/
  color: #000;
  font-size: 16px;
}

.box {
  height: 100px;
  width: 150px;
  background-color: hotpink;
  color: #fff;
}

#upper-right-link1 {
  position: absolute;
  top: 10px;
  right: 136px;
  z-index: 9999; /*puts at top layer of page*/
  text-decoration: none; /*removes underline*/
  color: #00e1ff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.gif {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}


@keyframes fader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-out {
  animation: fader 3s ease-in-out;
}

#upper-right-link2 {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999; /*puts at top layer of page*/
  text-decoration: none; /*removes underline*/
  color: #00ff0d;
  font-size: 24px;
  font-weight: bold;
  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  
  
}



.blink {
  animation: blinker 0.7s step-start infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}



.blink2 {
  animation: blinker 1s step-start infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#upper-right-container {
  display: flex;
  align-items: center;
}

#line1 {
  position: absolute;
  top: 10px;
  right: 121.5px;
  z-index: 9999; /*puts at top layer of page*/
  text-decoration: none; /*removes underline*/
  color: #000;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}



hr {
  color: #ff0000; /* Change the line color */
  background-color: #ff0000; /* Change the line background color */
  height: 2px; /* Change the line height */
  margin-top: 35px; /* Add space above the line */
}



.post {
  margin-top: 50px;
  box-shadow:
  0 0 0 3px green,
  0 0 0 6px salmon, 
  0 0 0 9px rebeccapurple,
  0 0 0 12px rgb(243, 164, 17),
  0 0 0 15px lightgreen,
  0 0 0 18px red,
  0 0 0 21px blue;
  padding: 10px;
  margin-bottom: 50px;
  margin-left: 400px;
  margin-right: 400px;
}



.rotated1 {
  transform: rotate(353deg); /* Equal to rotateZ(45deg) */
}



.rotated2 {
  transform: rotate(3deg); /* Equal to rotateZ(45deg) */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-element {
  animation: rotate 4s linear infinite;
}



.username {
    position: relative;
    margin-left: 50px;
    margin-top: -34px;
    z-index: 9999;
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: #c3ff00;
    text-decoration: none; /*removes underline*/
}

.usernamepos {
  position: relative;
  z-index: 1000;
  margin-top: -34px;
}

.timestamppos {
  position: relative;
  text-align: right;
  z-index: 1001;
  margin-top: -18px;
}

.timestamppos2 {
  position: relative;
  float: right;
  z-index: 1001;
  margin-top: -18px;
}


.timestamp {
  font-weight: bold;
  z-index: 1001;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  color: #ff7b00;
  text-decoration: none; /*removes underline*/
}

.image-link {
  position: relative;
  z-index: 2000;
  width: 40px;
  height: 40px;
}

.imagepos {
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}


#spinner {
  font-size: 50px;
  text-align: center;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  transform-style: preserve-3d;
  position: relative;
  color: rgb(214, 29, 29);
  font-family: cursive;
}
#spinner::before,
#spinner::after {
  content: "MUSIC GAME";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: rotateY(0.5deg);
  transform-origin: 0 50%;
  margin-top: -70px;
}
#spinner::after {
  transform: rotateY(-0.5deg);
  transform-origin: 100% 50%;
}
@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}
@keyframes depth {
  0% { text-shadow: 0 0 rgb(60, 255, 0); }
  25% { text-shadow: 1px 0 rgb(60, 255, 0), 2px 0 rgb(60, 255, 0), 3px 0 rgb(60, 255, 0), 4px 0 rgb(60, 255, 0), 5px 0 rgb(60, 255, 0), 6px 0 rgb(60, 255, 0); }
  50% { text-shadow: 0 0 rgb(60, 255, 0); }
  75% { text-shadow: -1px 0 rgb(60, 255, 0), -2px 0 rgb(60, 255, 0), -3px 0 rgb(60, 255, 0), -4px 0 rgb(60, 255, 0), -5px 0 rgb(60, 255, 0), -6px 0 rgb(60, 255, 0); }
  100% { text-shadow: 0 0 rgb(60, 255, 0); }
}

.spinner2 {
  font-size: 50px;
  text-align: center;
  animation-name: spin, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  transform-style: preserve-3d;
  position: relative;
  color: rgb(214, 29, 29);
  font-family: cursive;
}
.spinner2::before,
.spinner2::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: rotateY(0.5deg);
  transform-origin: 0 50%;
  margin-top: -70px;
}
.spinner2::after {
  transform: rotateY(-0.5deg);
  transform-origin: 100% 50%;
}
@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}
@keyframes depth {
  0% { text-shadow: 0 0 rgb(60, 255, 0); }
  25% { text-shadow: 1px 0 rgb(60, 255, 0), 2px 0 rgb(60, 255, 0), 3px 0 rgb(60, 255, 0), 4px 0 rgb(60, 255, 0), 5px 0 rgb(60, 255, 0), 6px 0 rgb(60, 255, 0); }
  50% { text-shadow: 0 0 rgb(60, 255, 0); }
  75% { text-shadow: -1px 0 rgb(60, 255, 0), -2px 0 rgb(60, 255, 0), -3px 0 rgb(60, 255, 0), -4px 0 rgb(60, 255, 0), -5px 0 rgb(60, 255, 0), -6px 0 rgb(60, 255, 0); }
  100% { text-shadow: 0 0 rgb(60, 255, 0); }
}

.username2 {
  z-index: 9999;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  color: #c3ff00;
  text-decoration: none; /*removes underline*/
  display: inline;
}

.username3 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.username4 {
  z-index: 9999;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  color: #cd28ff;
  text-decoration: none; /*removes underline*/
  display: inline;
}

.likes {
  z-index: 1000;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  color: #ff0044;
  text-decoration: none; /*removes underline*/
}

.userusername {
  z-index: 1000;
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  color: #c3ff00;
  text-decoration: none; /*removes underline*/
  font-size: 40px;
  margin-top: 40px;
  position: relative;
  margin-left: 50px;
  padding-bottom: 10px;
}

.followers {
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  color: #00ff80;
  text-decoration: none; /*removes underline*/
  font-size: 20px;
  margin-top: 40px;
  position: relative;
  margin-left: 16px;
  margin-right: 16px;
}

.following {
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  color: #e6b635;
  text-decoration: none; /*removes underline*/
  font-size: 20px;
  margin-top: 40px;
  position: relative;
}

.posts {
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  color: #4168e7;
  text-decoration: none; /*removes underline*/
  font-size: 20px;
  margin-top: 40px;
  position: relative;
  margin-left: 50px;
}

.name {
  font-weight: bold;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  color: #df6363;
  text-decoration: none; /*removes underline*/
  font-size: 20px;
  margin-top: 20px;
  position: relative;
  margin-left: 50px;
}