/*animated button effect*/
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #FFCB05;
  background-color: #00274C;
  opacity: 0.8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #FFCB05;
}

button:hover {opacity: 1;}

button:active {
  background-color: #00274C;
  box-shadow: 0 5px #FFCB05;
  transform: translateY(4px);
}



.slider-container {
  height: 300px; /* Set the height of the container */
  display: flex;
  /* align-items: left; */
  justify-content: center;
  transform: rotate(-90deg); /* Rotate the container */
  margin-top: 100px;
  margin-left: -650px;
}

.slider {
  -webkit-appearance: none; /* Remove default styles */
  appearance: none;
  margin-right: 0px;
  width: 27%; /* Set the width */
  height: 50px; /* Set the height */
  background: #00274C; /* Slider background color */
  outline: none; /* Remove default focus styles */
  opacity: 0.8; /* Set transparency */
  -webkit-transition: .2s; /* Add animation on hover */
  transition: opacity .2s;
  transform: translateY(50%); /* Center the slider */
}

.slider:hover {
  opacity: 1; /* Change opacity on hover */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default thumb appearance */
  appearance: none;
  width: 90px; /* Set thumb width */
  height: 90px; /* Set thumb height */
  background: url('../images/Block_M-Hex.png') no-repeat center center; /* Thumb color */
  background-size: contain;
  cursor: pointer; /* Cursor on hover */
  transform: rotate(90deg);
}

.slider::-moz-range-thumb {
  width: 90px; /* Set thumb width for Firefox */
  height: 90px; /* Set thumb height for Firefox */
  background: url('../images/Block_M-Hex.png') no-repeat center center; /* Thumb color */
  background-size: contain;
  cursor: pointer; /* Cursor on hover for Firefox */
  transform: rotate(90deg);
}


h1 {
  font-size: 40px;
  /* font-family: 'IBM Plex Serif Condensed'; */
  text-align: right;
  margin-left: 65px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-right: 560px;

  /* font-family: ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
}

h2 {
  font-size: 20px;
  /* font-family: 'IBM Plex Serif Condensed'; */
  text-align: right;
  margin-left: 65px;
  margin-right: 300px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  /* font-family: ui-sans-serif,system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
}

body {
  background-color: rgb(165, 174, 188);
  overflow: hidden;
}

.pitch-container {
  margin-left: 700px;
  margin-top: -300px;
}

.emh-button {
  margin-left: 700px;
  margin-top: -200pc;
}

div {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: bold;
}